body {
  background: #CCC;
}


#produtoDestaque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listaProdutos {
  display: flex;
  flex-direction: column;
  align-items: center;
}