body {
  background: #add8e6;
}


#produtoDestaque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#listaProdutos {
  display: flex;
  flex-direction: column;
  align-items: center;
}