body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: #E5E5E5;
}


#produtoDestaque {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  background: #FFFFFF;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
}